<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <h1>message</h1>
    <% if (locals.user) {%>
    <h1>WELCOME BACK</h1>
    <h2><%= user.firstname %></h2>
    <%}%>
    <ol>
      <% if (locals.messages) {%> <% messages.forEach(function(message) { %>
      <li>Title: <%= message.title %>, Message: <%= message.message %></li>

      <% }); %> <% } %>
    </ol>
    <a href="/newMessage">Create a new message</a>
    <a href="/log-out">LOG OUT</a>
  </body>
</html>
