<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <%- include("partials/errors.ejs") %>

    <form action="/" method="POST">
      <label for="firstName">FirstName</label>
      <input
        id="firstName"
        name="firstName"
        placeholder="firstname"
        type="text"
      />
      <label for="lastName">LastName</label>
      <input id="lastName" name="lastName" placeholder="lastName" type="text" />
      <label for="email">Email</label>
      <input id="email" name="email" placeholder="email" type="email" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" name="confirmPassword" type="password" />
      <input type="checkbox" id="admin" name="admin" value="TRUE" />
      <label for="admin"> Are you an Admin ?</label>
      <button>Sign Up</button>
    </form>
    <a href="/login">Log In</a>
  </body>
</html>
